<div class="card card-background" style="background-image: url({{fashion.img}})">
    <div class="card-body">
        <h6 class="card-category text-info">{{fashion.info}}</h6>
        <a href="#pablo">
            <h3 class="card-title">{{fashion.title}}</h3>
        </a>
        <p class="card-description">
            {{fashion.description}}
        </p>
        <a href="#pablo" class="btn btn-white btn-round">
            <i class="material-icons">subject</i> Read
        </a>
    </div>
</div>