<div class="card card-product card-plain no-shadow" data-colored-shadow="false">
    <div class="card-header card-header-image">
        <a href="#">
            <img ng-src={{product.img}} alt="...">
        </a>
    </div>
    <div class="card-body">
        <a href="#">
            <h4 class="card-title">{{product.title}}</h4>
        </a>
        <p class="description">
            {{product.description}}
        </p>
    </div>
    <div class="card-footer justify-content-between">
        <div class="price-container">
            <span class="price">€ {{product.price}}</span>
        </div>
        <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
            <i class="material-icons">favorite_border</i>
        </button>
    </div>
</div>